html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

header {
  padding: 20px 10px;
  background-color: blue;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  flex-grow: 1;
}

.nav-bar {
  background-color: yellow;
  padding: 20px 0px;
}

.content {
  background-color: darkblue;
  color: white;
  padding: 20px 0px;
}

.side-bar {
  background-color: lightgreen;
  padding: 20px 0px;
}

footer {
  background-color: green;
  color: white;
}
